<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>R'Coffee</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            {{> slidebar}}
        </nav>
        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <div>
            {{> nav}}
            </div>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Order Detail</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">R'Coffee</a></li>
                                <li class="breadcrumb-item"><a href="/order">Order</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Order Detail </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                {{#each order}}
                                <h4 class="card-title">Order ID: {{order_id}}</h4>
                                <p>{{order_date}}</p>
                                <h6>{{name}} | {{phone}} | {{location}}</h6>
                                <div class="row mt-4">
                                    <div class="col-12 d-flex align-items-center">
                                        <h4 class="card-title mt-2 mr-4">Status</h4>
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{status_order}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                            {{#if (eq status_order 'pending')}}
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'preparing')">Preparing</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'pick up')">Ready For Pickup</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivering')">Delivering</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivered')">Delivered</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'cancelled')">Cancelled</a>
                                            {{/if}}

                                            {{#if (eq status_order 'preparing')}}
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'pick up')">Ready For Pickup</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivering')">Delivering</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivered')">Delivered</a>
                                            {{/if}}

                                            {{#if (eq status_order 'pick up')}}
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivering')">Delivering</a>
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivered')">Delivered</a>
                                            {{/if}}

                                            {{#if (eq status_order 'delivering')}}
                                                <a class="dropdown-item" href="#" onclick="submitStatusForm('{{order_id}}', 'delivered')">Delivered</a>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between track">
                                    <div class="step active">
                                        <span class="icon"> <i class="mdi mdi-receipt"></i> </span>
                                        <h6 class="mt-2">Pending</h6>
                                    </div>
                                    
                                    {{#if (eq status_order 'cancelled')}}
                                        <div class="step active">
                                            <span class="icon"> <i class="mdi mdi-close-box-outline"></i> </span>
                                            <h6 class="mt-2">Cancelled</h6>
                                        </div>
                                    {{else}}
                                        <div class="step {{#if (or (eq status_order 'preparing') (eq status_order 'pick up') (eq status_order 'delivering') (eq status_order 'delivered'))}}active{{/if}}">
                                            <span class="icon"> <i class="mdi mdi-coffee-to-go"></i> </span>
                                            <h6 class="mt-2">Preparing</h6>
                                        </div>
                                        <div class="step {{#if (or (eq status_order 'pick up') (eq status_order 'delivering') (eq status_order 'delivered'))}}active{{/if}}">
                                            <span class="icon"> <i class="mdi mdi-package-variant"></i> </span>
                                            <h6 class="mt-2">Ready for pickup</h6>
                                        </div>
                                        <div class="step {{#if (or (eq status_order 'delivering') (eq status_order 'delivered'))}}active{{/if}}">
                                            <span class="icon"> <i class="mdi mdi-motorbike"></i> </span>
                                            <h6 class="mt-2">Delivering</h6>
                                        </div>
                                    {{/if}}
                                </div>
                                {{/each}}
                                <h4 class="card-title">Order Items</h4>                                
                                <div class="row">
                                    {{#each basket}}
                                    <div class="card mr-2" style="width: 15rem">
                                        <img class="card-img-top" src="{{product_img}}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="">{{product_name}}</h5>
                                            <p class="card-text">{{formatCurrency price 'vnd'}} x {{quantity}}</p>
                                        </div>
                                    </div>  
                                    {{/each}}                                   
                                </div>
                                {{#each order}}
                                <h4 class="card-title mt-4 mb-4">Order Summary</h4>      
                                <div class="row">
                                    <div class="col">
                                        <p>Payment Method</p>
                                        <p>Voucher Code</p>
                                        <p>Total Item</p>
                                        <p>Total Amount</p>
                                        <p>Discount</p>
                                        <h6>Total Pay</h6>
                                    </div>
                                    <div class="col ">
                                        <p class="text-right-align">{{payment_method}}</p>
                                        {{#if voucher_code}}
                                        <p class="text-right-align">{{voucher_code}}</p>
                                        {{else}}
                                        <p class="text-right-align">None</p>
                                        {{/if}}
                                        <p class="text-right-align">{{total_quantity}} (items)</p>
                                        <p class="text-right-align">{{formatCurrency totalWithDiscount 'vnd'}}  đ</p>
                                        <p class="text-right-align">{{formatCurrency discount_amount 'vnd'}} đ</p>
                                        <h6 class="text-right-align">{{formatCurrency total_amount 'vnd'}} đ</h6>
                                    </div>
                                </div> 
                                {{/each}}                         
                            </div>

                        </div>
                    </div>
                    <div>
                        {{> footer}}
                    </div>
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!--notification-->
        <div>
            {{> notification}}            
        </div>        
        <!-- container-scroller -->
        <!-- plugins:js -->    
        <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="/assets/vendors/chart.js/Chart.min.js"></script>
        <script src="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.resize.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.categories.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.stack.js"></script>
        <script src="/assets/vendors/flot/jquery.flot.pie.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/assets/js/off-canvas.js"></script>
        <script src="/assets/js/hoverable-collapse.js"></script>
        <script src="/assets/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="/assets/js/status-order-change.js"></script>  
        <script src="/assets/js/notification.js"></script>
        <!-- End custom js for this page -->
</body>

</html>